@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
  color: currentColor;
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.transparent:hover {
  background-color: transparent;
  border-color: transparent;
  color: currentColor;
  box-shadow: none;
  outline: none;
}

.transparent:focus {
  background-color: transparent;
  border-color: transparent;
  color: currentColor;
  box-shadow: none;
  outline: none;
}

.transparent:active {
  background-color: transparent;
  border-color: transparent;
  color: currentColor;
  box-shadow: none;
  outline: none;
}
